
.blog-post-list .blog-post {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 5px;
}

.blog-post-list .blog-post:last-child {
	border-bottom: 0 none;
}

.blog-post-list .blog-post h2 {
	font-size: 1.6em;
}

.blog-post-list .blog-post .byline {
	text-align: right;
	font-size: 0.9em;
}

.blog-post .byline, .blog-post .editline{
	font-style: italic;
	color: #555555;
}

.blog-post .post-text {
	padding-bottom:.5em;
}

.blog-post .options {
	list-style: none;
	padding-left: 1.5em;
}