
.blog-post-list .blog-post {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 5px;
}

.blog-post-list .blog-post:last-child {
	border-bottom: 0 none;
}

.blog-post-list .blog-post h2 {
	font-size: 1.6em;
}

.blog-post-list .blog-post .byline {
	text-align: right;
	font-style: italic;
	font-size: 0.9em;
	color: #555555;
}
